
    <div class="page-error tile">
        <h1><i class="fa fa-exclamation-circle"></i> Error 404: Page non trouvée</h1>
        <h5 style="color:grey">La page que vous cherche est introuvable.</h5>
        <p><a class="btn btn-primary" href="{{path('app_home')}}">Page d'accueil</a></p>
    </div>
